<div class="container">
<div class="row center m-t-50"> LOGO </div>
<div class="row m-t-20"> 
<div class="auth-panel col s12 m6 offset-m3 l6 offset-l3">
<div class="auth-form">

<div class="title">Login</div>
<% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>

<form role="form" action="/auth/local" method="post">
  <input type="text" name="identifier" placeholder="Username or Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit" class="btn btn-primery waves-effect waves-light">
        Sign in
  </button>
</form>


<% if (Object.keys(providers).length) {%>
  <div class="m-t-20"><b>You can also use one of these...</b></div>

  <% Object.keys(providers).forEach(function (key) { %>
    <a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
  <% }) %>
<% } %>

</div>
</div>
</div>
</div>
